<div class="login-page">
  
  <div class="brand-section">
    <div class="brand-content">
      <img src="assets/logo-aldebaran.png" alt="Aldebaran" class="logo-white animate-up">
      
      <h1 class="animate-up delay-1">Bem-vindo ao<br>Sistema Fila</h1>
      <p class="subtitle animate-up delay-2">Gestão Inteligente para Água Mineral</p>
      
      <div class="stats-row animate-up delay-3">
        <div class="stat-item">
          <span class="stat-val">24/7</span>
          <span class="stat-label">Online</span>
        </div>
        <div class="divider"></div>
        <div class="stat-item">
          <span class="stat-val">3+</span>
          <span class="stat-label">Filiais</span>
        </div>
        <div class="divider"></div>
        <div class="stat-item">
          <span class="stat-val">100%</span>
          <span class="stat-label">Digital</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-section">
    
    <div class="lang-toggle">
      <span class="active">PT</span>
      <span>EN</span>
    </div>

    <div class="form-container">
      <h2>Fazer Login</h2>
      <p class="filial-text">Unidade: <strong>Matriz Centro</strong></p>

      <form (ngSubmit)="fazerLogin()">
        
        <div class="input-group">
          <label>E-MAIL </label>
          <div class="input-wrapper">
            <lucide-icon [img]="icons.mail" size="20" class="input-icon"></lucide-icon>
            <input 
              type="email" 
              placeholder="ex: usuario@aldebaran.com" 
              [(ngModel)]="credenciais.email" 
              name="email"
              required>
          </div>
        </div>

        <div class="input-group">
          <label>SENHA DE ACESSO</label>
          <div class="input-wrapper">
            <lucide-icon [img]="icons.lock" size="20" class="input-icon"></lucide-icon>
            <input 
              type="password" 
              placeholder="••••••••" 
              [(ngModel)]="credenciais.senha" 
              name="senha"
              required>
          </div>
        </div>

        <div class="actions-row">
          <label class="checkbox-container">
            <input type="checkbox"> 
            <span>Lembrar-me</span>
          </label>
          <a routerLink="/recover" class="link-recover">Recuperar senha</a>
        </div>

        <div class="error-msg" *ngIf="erroLogin">
          <lucide-icon name="alert-circle" size="16"></lucide-icon>
          Usuário ou senha incorretos.
        </div>

        <button type="submit" class="btn-gradient" [disabled]="carregando">
          {{ carregando ? 'Validando Acesso...' : 'Entrar' }}
        </button>

      </form>

      <div class="form-footer">
        <p>Ainda não possui acesso? <a routerLink="/signup">Criar conta</a></p>
      </div>

    </div>
  </div>
</div>