<div class="page-container">

  <div class="header-section">
    <div class="title-group">
      <lucide-icon [img]="icons.settings" size="24" class="title-icon"></lucide-icon>
      <div>
        <h1>Configurar Serviços</h1>
        <p>Gerencie as filas do totem.</p>
      </div>
    </div>
  </div>

  <div class="content-card">
    <div class="form-header">
      <span class="inline-title"><lucide-icon [img]="icons.plus" size="18"></lucide-icon> {{ editando ? 'Editar' :
        'Novo' }}</span>
      <button *ngIf="editando" class="btn-cancel" (click)="limpar()">Cancelar Edição</button>
    </div>

    <!-- Inline Form -->
    <div class="inline-form">
      <div class="form-group flex-2">
        <label>NOME</label>
        <input type="text" [(ngModel)]="form.nome" placeholder="Ex: Prioritário">
      </div>

      <div class="form-group flex-1">
        <label>SIGLA</label>
        <input type="text" [(ngModel)]="form.sigla" placeholder="PRI">
      </div>

      <div class="form-actions">
        <button class="btn-add" [disabled]="loading" (click)="salvar()">
          {{ editando ? 'Atualizar' : 'Adicionar' }} <lucide-icon *ngIf="loading" [img]="icons.settings"
            class="spin"></lucide-icon>
        </button>
      </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
      <table class="data-table">
        <thead>
          <tr>
            <th>STATUS</th>
            <th>NOME</th>
            <th>SIGLA</th>
            <th class="text-right">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of servicos">
            <td>
              <span class="status-pill" [class.ativo]="s.ativo" [class.inativo]="!s.ativo" (click)="toggleStatus(s)"
                style="cursor: pointer;" title="Clique para alternar status">
                <lucide-icon [img]="icons.power" size="14"></lucide-icon>
                {{ s.ativo ? 'ATIVO' : 'INATIVO' }}
              </span>
            </td>
            <td class="primary-text">{{ s.nome }}</td>
            <td class="bold-cyan">{{ s.sigla }}</td>
            <td class="actions justify-end">
              <button class="action-btn edit" title="Editar" (click)="editar(s)">
                <lucide-icon [img]="icons.edit" size="16"></lucide-icon>
              </button>
              <button class="action-btn danger" title="Remover" (click)="excluir(s.id)">
                <lucide-icon [img]="icons.trash" size="16"></lucide-icon>
              </button>
            </td>
          </tr>

          <tr *ngIf="servicos.length === 0 && !loading">
            <td colspan="4" class="empty-row text-center">Nenhum serviço configurado.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>