<div class="mobile-container">
  
  <!-- Cabeçalho -->
  <div class="header-mobile">
    <h2>Comprovante Digital</h2>
    <p>Apresente na recepção</p>
  </div>

  <!-- Estado de Carregamento -->
  <div *ngIf="loading" class="loading">Carregando...</div>

  <!-- Cartão Principal -->
  <div *ngIf="!loading && dados" class="card pass-card">
    
    <div class="status-icon">
      <lucide-icon [img]="icons.check" [size]="48"></lucide-icon>
    </div>

    <h1>Confirmado</h1>
    <p class="status-text">Seu horário está reservado.</p>

    <!-- ÁREA DO QR CODE (Imagem Gerada) -->
    <div class="qr-wrapper" *ngIf="qrCodeImage">
      <img [src]="qrCodeImage" alt="QR Code Agendamento">
    </div>

    <!-- Lista de Informações -->
    <div class="info-list">
      
      <div class="info-item">
        <lucide-icon [img]="icons.calendar" class="icon"></lucide-icon>
        <div>
          <span>DATA</span>
          <strong>{{ dados.data | date:'dd/MM/yyyy' }}</strong>
        </div>
      </div>

      <div class="info-item">
        <lucide-icon [img]="icons.clock" class="icon"></lucide-icon>
        <div>
          <span>HORÁRIO</span>
          <strong>{{ dados.hora }}</strong>
        </div>
      </div>

      <div class="info-item">
        <lucide-icon [img]="icons.user" class="icon"></lucide-icon>
        <div>
          <span>CLIENTE</span>
          <strong>{{ dados.nomeCliente }}</strong>
        </div>
      </div>

      <div class="info-item">
        <lucide-icon [img]="icons.map" class="icon"></lucide-icon>
        <div>
          <span>SERVIÇO</span>
          <strong>{{ dados.servico?.nome }}</strong>
        </div>
      </div>

       <div class="info-item">
        <lucide-icon [img]="icons.file" class="icon"></lucide-icon>
        <div>
          <span>DOCUMENTO</span>
          <strong>{{ dados.documento || '-' }}</strong>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="!loading && !dados" class="error">Agendamento não encontrado.</div>
  
  <p class="footer-id">ID do Agendamento: #{{ dados?.id }}</p>
</div>